body {
    background-image: url(http://localhost:8085/clean/images/background.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.mainContent {
    margin: 5% 10% 15%;
    background-color: #fff;
}